body{
    background-color: rgb(255, 136, 0);
}
.container{
    background-color: rgb(242, 244, 246);
    width: 60%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 55px;
    margin-top: 25vh;
    text-align: center;
}
h1{
    border-bottom: 5px solid rgb(255, 136, 0);
    padding-bottom: 20px;
}
#btn{
    cursor: pointer;
    background-color: rgb(255, 136, 0);
    color: white;
    border: none;
    padding: 8px;
    margin: 5px;
}
#input{
    border-color: rgb(255, 136, 0);
    border-radius: 10px;
    padding: 8px;
    width: 50%;
}